# SPDX-License-Identifier: GPL-3.0-or-later

name: Test

on:
  push:
    branches:
      - master
  pull_request: { }

jobs:
  test:
    name: Integration Test
    runs-on: ubuntu-latest
    permissions:
      contents: read

    services:
      redis:
        image: redis
        ports:
          - 6379:6379
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v4
        with:
          go-version: "1.24"

      - run: go build -o opensmtpd-filter-qdgrey .

      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: stable

      - run: cd tests && cargo test -- --test-threads=1
